html{
    height:100%;
}
body {
    background-color: gray;
    margin:0;
    min-height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header h1{
    margin-top: 10px;
    margin-bottom: 5px;
}
#gameboard{
    background-color: burlywood;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    height:606px;
    width:606px;
    margin: 0 auto;
}
.box{
    height: 200px;
    width:200px;
    background-color: purple;
    border: 1px solid black;
    font-size:  150px;
    text-align: center;
}
.box:hover{
    background-color: rgb(146, 3, 146);
}

#headerButtons{
    margin-bottom: 10px;
}
#reset{
    margin-top: 5px;
}